body {
  margin: auto;
}

.rating-stars {
  width: 100px;
  margin-right: 20px;
}

.reviews {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -1px;
  border: 1px solid rgb(230, 230, 230);
}

.writingZone {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-top-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-center {
  text-align: center;
}

.profile-title {
  margin: 0px;
  padding: 5px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.profile-list {
  color: rgb(172, 62, 0);
  font-size: 1.5em;
}

.profile-list i{
  color: rgb(244, 115, 43);
}
