body {
  margin: auto;
}

#compliment-window {
  height: 500px;
  width: 500px;
  background-color: white;
  display: none;
}

.star-rating-box {
  width: 100px;
  height: 25px;
  padding: 0px;
  background-image: 'rating-1.png';
}
.star-rating-1 {
  position: absolute;
  left: 0px;
  width: 20px;
  height: 25px;
  z-index: 100;
}
.star-rating-2 {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 25px;
  z-index: 100;
}
.star-rating-3 {
  position: absolute;
  left: 40px;
  width: 20px;
  height: 25px;
  z-index: 100;
}
.star-rating-4 {
  position: absolute;
  left: 60px;
  width: 20px;
  height: 25px;
  z-index: 100;
}
.star-rating-5 {
  position: absolute;
  left: 80px;
  width: 20px;
  height: 25px;
  z-index: 100;
}

.rating-stars {
  width: 100px;
  margin-right: 20px;
}

.reviews {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -1px;
  border: 1px solid rgb(230, 230, 230);
}

.with-border {
  border: 1px solid rgb(230, 230, 230);
  margin: 5px;
}

.writingZone {
  padding-top: 15px;
  padding-bottom: 15px;
}
.margin-top-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}
.padding-top-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-top {
  padding-top: 15px;
}

.text-center {
  text-align: center;
}

.profile-title {
  margin: 0px;
  padding: 5px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.profile-list {
  color: rgb(172, 62, 0);
  font-size: 1.5em;
}

.profile-list i{
  color: rgb(244, 115, 43);
}

.text-left {
  text-align: left;
  float: left;
}

.user-thumb-box {
  height: 280px;
}
