/*red1
background-color: rgb(198, 27, 26);

orange
color: rgb(172, 62, 0);
*/

body {
  margin: 0px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: rgb(198, 27, 26);
  margin: 0px;
  color: white;
  /*height: 70px;*/
  padding-top:10px;
  padding-bottom: 10px;
  border: 0px;
  border-radius: 0 0 0 0 ;
}

.navbar-collapse {
  border: 0px;
  border-radius: 0 0 0 0 ;
}

#search-form .form-group {
  margin-right: 5px;
}

.navbar .nav > li {
  margin-left: 5px;
}

.navbar .nav > li > p {
  color: rgb(255, 255, 255);
}

.panel .panel-heading {
  background-color: rgb(198, 27, 26);
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.modal-header {
  background-color: rgb(198, 27, 26);
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.modal-header button {
  font-weight: bolder;
  color: white;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
.monospace {
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}

#logo {
  position: relative;;
  left: 15px;;
  top: -15px;
  height: 50px;
  margin-right: 20px;
}

.navbar input {
  background-color: rgb(255, 242, 241);
  color: rgb(59, 0, 73);
  border: 0px;
  height: 30px;
}
.textarea {
  width: 100%;
  resize: none;
}

.writingZone {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid rgb(200, 200, 200);
}

#compliment-window {
  height: 500px;
  width: 500px;
  background-color: white;
  display: none;
}

.rating-stars {
  width: 100px;
  margin-right: 20px;
}

.reviews {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -1px;
  border: 1px solid rgb(230, 230, 230);
}

.with-border {
  border: 1px solid rgb(230, 230, 230);
  margin-top: 5px;
  margin-bottom: 5px;
}

.writingZone {
  padding-top: 15px;
  padding-bottom: 15px;
}
.margin-top-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}
.padding-top-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-top {
  padding-top: 15px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.back-gray {
  background-color: rgb(250, 250, 250);
}


.text-center {
  text-align: center;
}

.profile-title {
  margin: 0px;
  padding: 5px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.profile-list {
  color: rgb(172, 62, 0);
  font-size: 1.5em;
}

.profile-list i{
  color: rgb(244, 115, 43);
}

.text-left {
  text-align: left;
  float: left;
}

.user-thumb-box {
  margin: -15px;
  padding: 15px;
  transition: 0.8s;
  height: 320px;
}

.user-thumb-box:hover {
  background-color: rgb(172, 62, 0);
  color: rgb(246, 246, 246)
}

.user-thumb-box:hover .profile-list{
  color: rgb(246, 246, 246)
}

.user-thumb-box button:hover {
  background-color: rgb(172, 62, 0);
  color: rgb(246, 246, 246)
}

.btn-useful {
  padding: 2px 15px 2px 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(231, 231, 231);
  font-weight: bold;
}
.btn-useful.active {
  background-color: rgb(221, 53, 0);
  color: rgb(246, 246, 246);
}
.btn-funny {
  padding: 2px 15px 2px 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(231, 231, 231);
  font-weight: bold;
}
.btn-funny.active {
  background-color: rgb(59, 143, 0);
  color: rgb(246, 246, 246);
}
.btn-cool {
  padding: 2px 15px 2px 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(231, 231, 231);
  font-weight: bold;
}
.btn-cool.active {
  background-color: rgb(46, 92, 195);
  color: rgb(246, 246, 246);
}

.btn-primary {
  color: #fff;
  background-color: #b83333;
  border-color: #a42e2e;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #902828;
  border-color: #401212;
}
.btn-primary:hover {
  color: #fff;
  background-color: #902828;
  border-color: #742020;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #902828;
  border-color: #401212;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #902828;
  border-color: #401212;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #902828;
  border-color: #401212;
}
.btn-primary .badge {
  color: #b83333;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: rgb(210, 76, 0);
  border-color: rgb(170, 61, 0);
}

.btn-inlist {
  border: 0px;
  margin-top: 10px;
}

.btn-group-vertical {
  width: 100%;
}


/*rating stars*/
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#494949;
    /*text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    /*text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    /*text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #be8905;
    /*text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
